{% extends '_auth_base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="row">
        {{ component('publish_jobs_form', {'job': job}) }}
    </div>
{% endblock %}
